#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  overflow: auto;
  /* overflow-y: scroll;
  overflow-x: hidden; */
  width: 100vw;
  height: 100vh;
  background: white;

  --app-primary: #f59331;
  --primary-color: #f59331;
}

.bg-primary {
  background-color: var(--app-primary) !important;
}

.p-chips .p-chips-multiple-container {
  width: 100% !important;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.p-component {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif !important;
}

.p-datatable .p-datatable-header {
  background: white !important;
  border: none !important;
  border-width: 0 !important;
}

.p-datatable .p-datatable-thead>tr>th {
  background: #f1f1f1 !important;
}

.p-datatable.p-datatable-striped .p-datatable-tbody>tr.p-row-odd {
  background: #f5f3f3 !important;
}

.p-menuitem {
  border-bottom: 1px solid #e0e0e0;
}

.p-menu .p-menuitem-link .p-menuitem-icon {
  font-size: 15px;
}

.p-menuitem-link {
  font-size: 15px;
}

.p-datepicker .p-datepicker-header .p-datepicker-prev,
.p-datepicker .p-datepicker-header .p-datepicker-next {
  /* Add your custom styles here */
  background-color: #d3d3d383 !important;
  color: #0c0404 !important;
  font-size: 16px !important;
  width: 3rem !important;
  height: 3rem !important;
  /* ... */
}

.p-datepicker-prev>svg {
  display: none;
  /* fill: #0c0404 !important; */
}

.p-datepicker-next>svg {
  display: none;
  /* fill: #0c0404 !important; */
}

.p-datepicker-prev::before {
  content: "\f053";
  /* Unicode for the star icon */
  font-family: "Font Awesome 5 Free";
  /* Specify the Font Awesome font family */
  font-weight: 900;
  color: #495057;
  /* Specify the font weight for the solid style icons */
}

.p-datepicker-next::before {
  content: "\f054";
  /* Unicode for the star icon */
  font-family: "Font Awesome 5 Free";
  /* Specify the Font Awesome font family */
  font-weight: 900;
  color: #495057;
  /* Specify the font weight for the solid style icons */
}

.p-inputtext,
.p-dropdown,
.p-multiselect {
  background: #efefef !important;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif !important;
}

.p-dropdown-trigger {
  background: var(--primary-color) !important;
  color: white !important;
}

.p-multiselect-trigger {
  background: var(--primary-color) !important;
  color: white !important;
}

.p-dropdown .p-dropdown-label.p-placeholder {
  text-align: left !important;
  color: #6c757dbf !important;
}

.p-multiselect .p-multiselect-label.p-placeholder {
  text-align: left !important;
  color: #6c757dbf !important;
}

.p-buttonset .p-button {
  width: 50% !important;
  color: #6c757dbf !important;
}

.p-selectbutton .p-button.p-highlight {
  background: var(--primary-color) !important;
  color: white !important;
}

.p-dropdown .p-dropdown-clear-icon {
  right: 4rem !important;
}

.p-dropdown.p-dropdown-clearable .p-dropdown-label {
  text-align: left !important;
}

.p-multiselect .p-multiselect-clear-icon {
  right: 4rem !important;
}

.p-multiselect.p-multiselect-clearable .p-multiselect-label {
  text-align: left !important;
}

.p-tabview .p-tabview-nav {
  display: flex;
  flex-wrap: wrap;
}

.p-tabview .p-tabview-nav li {
  margin-bottom: 2px !important;
}

.p-tabview .p-tabview-nav .p-tabview-ink-bar {
  display: none !important;
}

/* .p-avatar.p-avatar-xl {
  width: 5rem !important;
  height: 5rem !important;
  border-radius: 6rem !important;
}

.p-tabview .p-tabview-nav {
  border-width: 4 !important;
  padding-bottom: 1rem !important;
}

.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
  background: var(--app-primary) !important;
  border-color: var(--app-primary) !important;
  color: #ffffff !important;
  border-radius: 6rem !important;
  padding: 1.2rem !important;

}

.p-tabview .p-tabview-nav li .p-tabview-nav-link {
  border: none !important;
}

.p-tabview .p-tabview-nav .p-tabview-ink-bar {
  display: none !important;
} */
.p-tabview .p-tabview-panels {
  padding: 1rem !important;
}

.dashboard-tab {
  width: 100% !important;
}

.dashboard-button-set>.p-button.p-component {
  border: none !important;
  width: 20% !important;
}

.required-field::after {
  content: "*";
  color: red;
}

.p-paginator .p-dropdown .p-dropdown-label {
  padding-right: 1rem !important;
}

.p-autocomplete .p-autocomplete-multiple-container {
  width: 100% !important;
}

.p-editor-container .p-editor-toolbar {
  display: none;
}

input::file-selector-button {
  font-weight: bold;
  background: var(--app-primary) !important;
  color: black !important;
  padding: 0.5em;
  border: none;
  border-radius: 5px;
}

.p-breadcrumb {
  border: none !important;
  background: none !important;
}

.p-inputtext {
  width: 100% !important;
}

/* media query for small screens */
@media only screen and (max-width : 649px) {

  .p-sidebar-right .p-sidebar {
    width: 100% !important;
  }

  .p-dialog {
    width: 90% !important;
  }

  .video-player {
    width: 100% !important;
  }
}


.p-buttonset .p-button {
  margin: 0.5rem !important;
  border: 1px solid !important;
  width: unset !important;
  border-radius: 0.5rem !important;
}

.p-avatar .p-avatar-icon {
  font-size: 4rem !important;
}

.profile-tag {
  background: #22c55e4d !important;
  color: #008000b5 !important;
  font-size: .80rem !important;
  font-weight: 700 !important;
  padding: 0.3rem 0.5rem !important;
  border-radius: 6px !important;
}

.profile-tag-blue {
  background: #2281c54d !important;
  color: #001580b5 !important;
  font-size: .80rem !important;
  font-weight: 700 !important;
  padding: 0.3rem 0.5rem !important;
  border-radius: 6px !important;
}

.p-timeline-event-opposite {
  display: none !important;
}

.priority-badge {
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.3px;

}

.status-badge {
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.3px;

}

.priority-badge.priority-high {
  background-color: #ffcdd2;
  color: #c63737;
}

.priority-badge.priority-medium {
  background-color: #feedaf;
  color: #8a5340;
}

.priority-badge.priority-low {
  background-color: #c8e6c9;
  color: #256029;
}

.status-badge.status-overdue {
  background-color: #ffcdd2;
  color: #c63737;
}

.status-badge.status-pending {
  background-color: #afc3fe;
  color: #40508a;
}

.status-badge.status-completed {
  background-color: #c8e6c9;
  color: #256029;
}

.status-badge.status-in_progress {
  background-color: #feedaf;
  color: #8a5340;
}

.p-icon .p-breadcrumb-chevron {
  color: black !important;
}